.header {
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  &__banner {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: $color1;
    &-text {
      font-size: 14px;
      color: $textDark;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18.5px 12px;
  }

  .logo {
    width: 324px;
    object-fit: contain;
    object-position: left;
  }
  
}

@include lg {
  .header {
    .logo {
      width: 208px;
    }
  }
}

@include md {
  .header {
    &__banner {
    padding: 8px;
      &-text {
        font-size: 12px;
      }
    }
  }
}

