// Background Colors
.bg {
  &--dark {
    background-color: $backgroundDark;
  }

  &--white {
    background-color: $white;
  }

  &--primary {
    background-color: $color1;
  }
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $white;
  }
}